.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#MyCa
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: rgb(255, 166, 0);
	font-family: Comic Sans MS;
    font-weight: bold;
	font-size: 69px;
}

